**/*.a
**/*.pc
/**/*/.DS_STORE
.DS_STORE
build/.*
build/paramfetch.sh
/vendor
/blocks.dot
/blocks.svg
/chainwatch.db
/bundle
/darwin
/linux

*-fuzz.zip
/chain/types/work_msg/
bin/ipget
bin/tmp/*
.idea
scratchpad
devgen.car
extern/oni/
go.sum
/ddstore
/ddstore_unix
**/bin/fault.txt
**/bin/findfault
mvexpired
delexpired
